<%- include("partials/header.ejs") %>
<div class="side-bar">
    <p> Sukuna is selfish, cold-hearted, immoral, and exceptionally sadistic.
        When he was reincarnated shortly after Yuji ingested his finger, he commented, implying the slaughter of women and children and likening them to maggots crawling around. Due to his immense power, he rarely cares about the consequences of his actions, even if these affect his host, Yuji Itadori. In fact, he frequently taunts and insults Yuji, calling him a brat and even laughing at or enjoying Yuji's despair on multiple occasions.

        Sukuna is aware of his immense power and is quite arrogant about it, brutalizing a finger bearer while being patronizing and proclaiming his superiority over it. For this reason, he is highly dismissive of his opponents and rarely takes them seriously, even explicitly stating he would kill Satoru Gojo to his face. However, these brutish traits are not to be confused for stupidity. Sukuna is highly intelligent and manipulative, taking Yuji's body hostage by tearing out his heart to force him into a Binding Vow. He has also displayed the ability to acknowledge and praise his opponents, as shown by how before killing Jogo Sukuna acknowledged his strength despite having completely overpowered him and told Jogo that he should be proud.
        
        Through Sukuna's conversation with Yuji during their fight after possessing Megumi's body, Sukuna espouses that he likens human beings to insects and admits he is unable to comprehend why the weak cling so desperately to life instead of quietly accepting the suffering that life forces them to endure since the weak should have no right to complain. He also claims that he doesn't understand how a creature that falls apart at a touch can say that it always wants to be happy, which expresses his antipathy and disregard of human emotions and their will to live. It also reveals that Sukuna's perception of life adheres strongly to social darwinism. It is also repeatedly stated that Sukuna has a myopic view on love and does not comprehend the value of relationships.</p>
   
</div>
</body>
</html>