<%- include("partials/header.ejs") %>
<div class="side-bar">
    <p>Welcome to my blog, use the left bar for what you looking for!</p>
    <p>Dont forget, dont touch my soul. Know your place fool!</p>
</div>
</body>
</html>