<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Ryomen Sukuna</title>
</head>

<body>
    <div class="left-bar">
        <img src="./images/sukuna2.jpg" alt="sukuna">
        <div class="hTags">
            <h1>Ryomen Sukuna</h1>
            <h2>King of curses</h2>
        </div>
        <div class="pages">
            <a href = "/">Home</a>
            <a href = "/about">About</a>
            <a href = "/alies">Alies</a>
            <a href = "/enemies">Enemies</a>
            <a href = "/fights">Fights</a>
        </div>
    </div>
   
    
